body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C005D;
    font-family: Bold;
}

#div_form {
    border: 2px solid black;
    width: 700px;
    padding: 30px 40px;
    background-color:  #ddeddd;
    border-radius: 20px;
    text-align: center;
}

#formu {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.linha {
    display: flex;
    align-items: center;
    gap: 25px;
}


.titulo_campo {
    width: 220px;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    padding-top: 6px;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    width: 430px;
    height: 38px;
    border: 2px solid black;
    border-radius: 0;
    font-size: 20px;
    padding: 4px 10px;
    box-sizing: border-box;
}

button {
    margin-top: 25px;
    margin-left: 320px;
    width: 200px;
    height: 55px;
    border: none;
    background-color: #0C005D;
    color: white;
    font-size: 24px;
    border-radius: 10px;

}
#img_logo{
     display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.certo {
    color: green;
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
}

.erro {
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
}

.media {
    color: orange;
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
}

#msg {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: green;
    margin-top: 30px;
}

#btn_voltar {
    display: none;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #0C005D;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
#btn_login{
    margin-top: 20px;

    color:  #0C005D;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}